<?xml version="1.0"?>
<config>
    <modules>
        <Alpine_MultiplePayments>
            <version>0.1.0</version>
        </Alpine_MultiplePayments>
    </modules>
    <frontend>
        <routers>
            <multiplepayments>
                <use>standard</use>
                <args>
                    <module>Alpine_MultiplePayments</module>
                    <frontName>multiplepayments</frontName>
                </args>
            </multiplepayments>
        </routers>
        <layout>
            <updates>
                <multiplepayments>
                    <file>multiplepayments.xml</file>
                </multiplepayments>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<po_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</po_no>
    		 	<po_amount>
    		 		<to_order_payment>*</to_order_payment>
    		 	</po_amount>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <multiplepayments>
                <class>Alpine_MultiplePayments_Model</class>
                <resourceModel>multiplepayments_mysql4</resourceModel>
            </multiplepayments>
            <multiplepayments_mysql4>
                <class>Alpine_MultiplePayments_Model_Mysql4</class>
                <entities>
                    <multiplepayments>
                        <table>multiplepayments</table>
                    </multiplepayments>
                </entities>
            </multiplepayments_mysql4>
			<sales>
              <rewrite>
                <order_payment ifstore="crossfitb2b,base,default">Alpine_MultiplePayments_Model_Order_Payment</order_payment>
              </rewrite>
            </sales>
        </models>
        <resources>
            <multiplepayments_setup>
                <setup>
                    <module>Alpine_MultiplePayments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multiplepayments_setup>
            <multiplepayments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </multiplepayments_write>
            <multiplepayments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </multiplepayments_read>
        </resources>
        <blocks>
            <multiplepayments>
                <class>Alpine_MultiplePayments_Block</class>
            </multiplepayments>
        </blocks>
        <helpers>
            <multiplepayments>
                <class>Alpine_MultiplePayments_Helper</class>
            </multiplepayments>
        </helpers>
    </global>
    <default>
        <payment>
            <multiplepayments>
                <model>multiplepayments/multiplepayments</model>
                <active>1</active>
                <title>Multiple Payments B2B</title>
                <message>Please enter your Purchase Order Number and Purchase Order Amount.  If the Purchase Order Amount is less than the order total you will be required to provide a credit card as well.</message>
                <order_status>processing</order_status>
                <login backend_model="adminhtml/system_config_backend_encrypted"/>
                <trans_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <payment_action>authorize</payment_action>
                <cgi_url>https://secure.authorize.net/gateway/transact.dll</cgi_url>
                <cctypes>AE,VI,MC,DI</cctypes>
                <email_customer>0</email_customer>
                <merchant_email/>
                <test>1</test>
                <debug>0</debug>
                <currency>USD</currency>
                <allowspecific>0</allowspecific>
            </multiplepayments>
         </payment>
    </default>
</config>