<?xml version="1.0"?>
<config>
    <modules>
       <Alpine_IframeCreSecure>
          <version>0.1.0</version>
       </Alpine_IframeCreSecure>
    </modules>
    
    <global>
        <models>
            <iframecresecure>
                <class>Alpine_IframeCreSecure_Model</class>
                <resourceModel>iframecresecure_mysql4</resourceModel>
            </iframecresecure>
            <iframecresecure_mysql4>
                <class>Alpine_IframeCreSecure_Model_Mysql4</class>         
                <entities>
                    <iframe>
                        <table>cresecure_data</table>
                    </iframe>
                </entities>     
            </iframecresecure_mysql4>
        </models>
        <events>
            <sales_order_place_after>
                <observers>
                    <alpine_iframecresecure_order_observer>
                        <type>singleton</type>
                        <class>Alpine_IframeCreSecure_Model_Order_Observer</class>
                        <method>update_order_payment</method>
                    </alpine_iframecresecure_order_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <blocks>
            <iframecresecure>
              <class>Alpine_IframeCreSecure_Block</class>
            </iframecresecure>
            <checkout>
                <rewrite>
                    <multishipping_overview>Alpine_IframeCreSecure_Block_Checkout_Multishipping_Overview</multishipping_overview>
                </rewrite>
            </checkout>
        </blocks>

        <resources>
            <iframecresecure_setup>
                <setup>
                    <module>Alpine_IframeCreSecure</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iframecresecure_setup>
            <iframecresecure_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </iframecresecure_write>
            <iframecresecure_read>
               <connection>
                <use>core_read</use>
              </connection>
            </iframecresecure_read>
        </resources>
    </global>
    
    <frontend>
        <routers>
            <iframecresecure>
                <use>standard</use>
                <args>
                    <module>Alpine_IframeCreSecure</module>
                    <frontName>iframecresecure</frontName>
                </args>
            </iframecresecure>
            <checkout>
                <args>
                    <modules>
                        <Alpine_IframeCreSecure before="Mage_Checkout">Alpine_IframeCreSecure_Checkout</Alpine_IframeCreSecure>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <iframecresecure>
                    <file>iframecresecure.xml</file>
                </iframecresecure>
            </updates>
        </layout>
    </frontend>
    
    <default>
        <payment>
            <iframecresecure>
                <active>0</active>
                <model>iframecresecure/paymentLogic</model>
                <order_status>pending</order_status>
                <title>Credit Card via CRE Secure (IFrame)</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
            </iframecresecure>
         </payment>
    </default>
     
</config>
