<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <UltimateNewMedia_LoginRedirect>
            <version>0.0.1</version>
        </UltimateNewMedia_LoginRedirect>
    </modules>
    <global>
        <helpers>
            <loginredirect>
                <class>UltimateNewMedia_LoginRedirect_Helper</class>
            </loginredirect>
        </helpers>
        <resources>
            <ultimatenewmedia_loginredirect_setup>
                <setup>
                    <module>UltimateNewMedia_LoginRedirect</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ultimatenewmedia_loginredirect_setup>
            <ultimatenewmedia_loginredirect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ultimatenewmedia_loginredirect_write>
            <ultimatenewmedia_loginredirect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ultimatenewmedia_loginredirect_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <ultimatenewmedia_loginredirect before="Mage_Customer">UltimateNewMedia_LoginRedirect</ultimatenewmedia_loginredirect>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <loginredirect>
                    <file>loginredirect.xml</file>
                </loginredirect>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <unm>
                                            <title>Ultimate New Media - All</title>
                                        </unm>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>