<?xml version="1.0"?>
<config>
    <modules>
        <UltimateNewMedia_Social>
            <version>0.0.1</version>
        </UltimateNewMedia_Social>
    </modules>
    <global>
        <blocks>
            <ultimatenewmedia_social>
               <class>UltimateNewMedia_Social_Block</class>
            </ultimatenewmedia_social>
        </blocks>
        
        <helpers>
            <ultimatenewmedia_social>
                <class>UltimateNewMedia_Social_Helper</class>
            </ultimatenewmedia_social>
        </helpers>
        
        <models>
            <ultimatenewmedia_social>
                <class>UltimateNewMedia_Social_Model</class>
                <resourceModel>ultimatenewmedia_social_resource</resourceModel>
            </ultimatenewmedia_social>
            <ultimatenewmedia_social_resource>
                <class>UltimateNewMedia_Social_Model_Resource</class>
                <entities>
                    <likes>
                        <table>ultimatenewmedia_social_likes</table>
                    </likes>
                    <review>
                        <table>ultimatenewmedia_social_review</table>
                    </review>
                </entities>
            </ultimatenewmedia_social_resource>
        </models>
        
        <resources>
            <ultimatenewmedia_social_setup>
                <setup>
                    <module>UltimateNewMedia_Social</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ultimatenewmedia_social_setup>
            <ultimatenewmedia_social_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ultimatenewmedia_social_write>
            <ultimatenewmedia_social_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ultimatenewmedia_social_read>
        </resources>
        <events>
            <review_save_after>
                <observers>
                    <ultimatenewmedia_social>
                        <class>ultimatenewmedia_social/observer</class>
                        <method>sendReviewEmail</method>
                    </ultimatenewmedia_social>
                </observers>
            </review_save_after>
        </events>
        <template>
            <email>
                <ultimatenewmedia_social_emails_templates_new_review translate="label" module="UltimateNewMedia_Social">
                    <label>Product Review: New Submission</label>
                    <file>new_review_submission.html</file>
                    <type>html</type>
                </ultimatenewmedia_social_emails_templates_new_review>
            </email>
        </template>
    </global>
    <frontend>
        <routers>
            <social>
                <use>standard</use>
                <args>
                    <module>UltimateNewMedia_Social</module>
                    <frontName>social</frontName>
                </args>
            </social>
        </routers>
    </frontend>
    <default>
        <social_review_emails>
            <sales_representatives>
                <sender>support</sender>
            </sales_representatives>
            <templates>
                <new_review>ultimatenewmedia_social_emails_templates_new_review</new_review>
            </templates>
            <attachments>
                <pdf>0</pdf>
                <doc>0</doc>
            </attachments>
        </social_review_emails>
    </default>
</config>