<?xml version="1.0"?>
<config>
  <modules>
    <Alpine_Cfid>
      <version>0.1.0</version>
    </Alpine_Cfid>
  </modules>
  <global>
    <blocks>
      <cfid>
        <class>Alpine_Cfid_Block</class>
      </cfid>
    </blocks>
    <helpers>
        <cfid>
      <class>Alpine_Cfid_Helper</class>
        </cfid>
    </helpers>        
    <models>
      <cfid>
        <class>Alpine_Cfid_Model</class>
      </cfid>
      <cfid>
        <class>Alpine_Cfid_Model</class>
        <resourceModel>cfid_mysql4</resourceModel>
      </cfid>
      <cfid_mysql4>
        <class>Alpine_Cfid_Model_Mysql4</class>
      </cfid_mysql4>
    </models>
    <fieldsets>
      <customer_account>
        <cfid>
          <create>1</create>
          <update>1</update>
        </cfid>
      </customer_account>
    </fieldsets>
    <resources>
      <cfid_setup>
        <setup>
          <module>Alpine_Cfid</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </cfid_setup>
      <cfid_write>
        <connection>
          <use>core_write</use>
        </connection>
      </cfid_write>
      <cfid_read>
        <connection>
          <use>core_read</use>
        </connection>
      </cfid_read>
    </resources>
  </global>
  <adminhtml>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <cfid_section1 translate="title" module="cfidhelper">
                      <title>CrossFit ID</title>
                      <sort_order>50</sort_order>
                    </cfid_section1>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <frontend>
    <routers>
      <cfid>
        <use>standard</use>
        <args>
          <module>Alpine_Cfid</module>
          <frontName>cfid</frontName>
        </args>
      </cfid>
    </routers>
    <layout>
      <updates>
        <cfid>
          <file>cfid.xml</file>
        </cfid>
      </updates>
    </layout>
  </frontend>
</config>