<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <UltimateNewMedia_SurePostUps>
            <version>0.1.0</version>
        </UltimateNewMedia_SurePostUps>
    </modules>
    <global>
        <models>
            <surepostups>
                <rewrite>
                    <shipping_carrier_surepostups>UltimateNewMedia_SurePostUps_Model_Shipping_Carrier_Surepostups</shipping_carrier_surepostups>
                </rewrite>
            </surepostups>
        </models>
        <resources>
            <surepostups_setup>
                <setup>
                    <module>UltimateNewMedia_SurePostUps</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </surepostups_setup>
            <surepostups_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </surepostups_write>
            <surepostups_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </surepostups_read>
        </resources>
    </global>
</config>